*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    background: rgb(255, 244, 227);
    height: 60px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
nav li{
    display: inline-block;
    font-size: 1.5rem;

}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 550px repeat(3, 200px);
    grid-template-areas: 
    "image image about about"
    "des2 des2 img img"

}

#portrait{
    grid-area: image;
    background-color: rgba(56, 56, 56, 0.048);
}

#about{
    grid-area: about;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 4fr 2fr;
    grid-template-areas: 
    "abouttitle abouttitle"
    "description skills"
    "contact empty";
    column-gap: 10px;
    
}

#portrait{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myself{
    display: block;
    max-width: 60%;
    max-height: 90%;
    border-radius: 2%;
}

#abouttitle{
    grid-area: abouttitle;
    display: flex;
    align-items: center;
    background:rgb(218, 218, 218);

}
#abouttitle h2{
    font-weight: normal;
    display: inline;
    margin-left: 10px;
}
#aboutdescription{
    grid-area: description;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 249, 195, 0.075);
    
    
}

#aboutdescription p{
    text-align: justify;
    width: 80%;
    font-size: 1rem;
    line-height: 1.5;
}

#aboutskills{
    grid-area: skills;
    display: grid;
    grid-template-rows: repeat(7, 7fr);
    align-content: space-evenly;
    border-left: 1px dotted black;
}

#aboutskills div{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#aboutskills img{
    display: block;
    max-width: 30%;
    max-height: auto;
}

#aboutcontact{
    position: relative;
    grid-area: contact;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(14, 14, 129, 0.171);
    
}

#buttoncontactopen{
    width: 20%;
    font-size: 1rem;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: black 0px 5px 10px;
}

#buttoncontactclose{
    width: 20%;
    font-size: 1rem;
    cursor: pointer;
    background: yellow;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: black 0px 5px 10px;
    display: none;
}

.contactinfo{
    
    display: block;
    position: absolute;
    top: 100px;
    display: none;
    border-radius: 3%;
    box-shadow: 1px 1px 5px 1px black;
    width: 400px;
    height: 100px;
}

.contactinfo div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
    line-height: 2;
}

.contactinfo a{
    color: blue;
}

.contactinfo p{
    text-align: center;
}

#maintitle{
    text-align: center;
    margin: 50px 0;
    font-weight: normal;
    cursor: pointer;
}

li a{
    text-decoration: none;
    color: black;
}


